<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="manage_romcity" frontName="manage_romcity">
            <module name="Eadesigndev_RomCity" before="Magento_Backend"/>
        </route>

        <route id="upload_city" frontName="upload_city">
            <module name="Eadesigndev_RomCity" before="Magento_Backend"/>
        </route>

        <route id="region_list" frontName="region_list">
            <module name="Eadesigndev_RomCity" before="Magento_Backend"/>
        </route>
    </router>
</config>