<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ea_romcity" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>RomCity</label>
            <tab>eadesign_extensions</tab>
            <resource>Eadesigndev_RomCity::configuration</resource>
            <group id="romcity" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>RomCity</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment>If enabled, RomCity will be customized by your settings made at "Manage City List".
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="custom_group" translate="label" type="text" sortOrder="151" showInDefault="1" showInWebsite="1">
                <label>Upload City</label>
                <field id="city_file_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File"
                       sortOrder="6" showInDefault="1" showInWebsite="1">
                    <comment>To import cities, choose file and "Save Config". Then push the button "Import Cities!".</comment>
                    <label>Browse import file </label>
                    <backend_model>Eadesigndev\RomCity\Model\Config\Backend\UploadFile</backend_model>
                    <upload_dir config="system" scope_info="0">test</upload_dir>
                </field>
                <field id="update_city" translate="label comment tooltip" type="button" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <frontend_model>Eadesigndev\RomCity\Block\Adminhtml\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>